{% extends 'base.html'%}
{% import 'bootstrap/wtf.html' as wtf %}
{% block content %}
<div class="container">
    <div class="row mt-5">
      <div class= "col-md-3"> </div>
      <div class="col-md-5 register-col rounded mt-5 pt-4 pb-3 px-2">
        {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category=="success" %}
                <div class="alert alert-success ">
                {{ message }}
                </div>
            {% else %}
            <div class="alert alert-danger }}">
                {{ message }}
                </div>
            {%endif%}
            {% endfor %}
        {% endif %}
        {% endwith %}
        <h4 class="font-weight-600 mb-4 mt-5 text-center ">Login</h4>
        <form method="POST" action="" class=" px-auto">
            {{ form.hidden_tag() }}
            <div class="form-group row mb-4  px-auto px-1">
                {{ form.email.label(class="col-sm-4 ml-1 col-form-label") }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control lg is-invalid col-sm-7") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control col-sm-7") }}
                {% endif %}
            </div>
            <div class="form-group row mb-4">
                {{ form.password.label(class="form-control-label col-sm-4 ml-1") }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid col-sm-7") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control col-sm-7") }}
                {% endif %}
            </div>
           
        </form>
        <p class="ml-5 mt-2 mb-2 text-center"> Not Registered? <a href="/authenticate/register">Register</a></p>
    </div>
     <div clas="col-md-3"> </div>
    </div>
</div>
{% endblock%}