{% extends 'base.html'%}
<!-- Content block -->
{% block content %}
<div class="row flex-nowrap">
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock %}
    <div class="col py-3 mx-5 mt-5">
        <h3 class="font-weight-bold ml-5 mb-3">
            <legend>{{legend}}</legend>
        </h3>
        <form method="POST" action="" class="px-auto mx-5">
            {{ form.hidden_tag() }}
            <div class="form-group ">
                {{ form.title.label(class="form-label") }} {% if form.title.errors %} {{ form.title(class="form-control is-invalid col-sm-7") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.title(class="form-control") }} {% endif %}
            </div>
            <div class="form-group">
                {{ form.notes.label(class="form-label") }} {% if form.notes.errors %} {{ form.notes(class="form-control is-invalid col-sm-7", rows='8') }}
                <div class="invalid-feedback">
                    {% for error in form.notes.errors %}
                    <span>{{ error }}</span> {% endfor %}
                </div>
                {% else %} {{ form.notes(class="form-control", rows='8') }} {% endif %}
            </div>
            <div class="form-group  text-right">
                {{ form.submit(class="btn btn-primary px-4") }}
            </div>
        </form>
    </div>
</div>
{% block footer %} {% include 'footer.html' %} {% endblock %} {% endblock%}