
<footer class="footer bg-dark p-4 text-center text-white m-0">
  <p>NoteBook @ 2021    Designed by Kelvin Kipchumba Koech</p>
  <div class="social-icons"> 
   <a href="https://web.facebook.com/koechkelvin97" target="_blank" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
   <a href="https://twitter.com/triplek254" target="_blank" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
   <a href="https://www.linkedin.com/in/triple-k-b4b8a514a/" target="_blank" title="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
   <a href="https://github.com/k-koech" target="_blank" title="GitHub"><i class="fa fa-github" aria-hidden="true"></i></a>

  </div>
  <p>254725801772</p>
</footer> 