{% extends 'base.html'%}
{% import 'macros.html' as macro%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
 
<!-- Content block -->
{% block content %}
<div class="container ">
  <div class="row m-3 pt-3">
    <div class="col-md-7">
        <div class="card mb-4" >
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><i class="fa fa-comments" aria-hidden="true"></i></div>
                        </div>
                    </div>

                    <div class="col-md-2 text-center">
                        <div class="bg-darkk votes">
                            <i class="fa fa-caret-up fa-4x" aria-hidden="true"></i>
                            <h5>56</h5>  
                        </div>  
                        <div class="bg-success votes">
                            <h5>0</h5>
                            <i class="fa fa-caret-down fa-4x" aria-hidden="true"></i>
                        </div>
                            
                    </div>
                </div>
               
            </div>
          
        </div>
        <div class="card" >
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <h5>Related Pitches</h5>
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>
    
  </div>
</div>

{% endblock%}