{% extends 'base.html'%}

<!-- Content block -->
{% block content %}

{% block landingPage %}
  {% include 'landing-page.html' %}
{% endblock %} 

<div id="pitches" class="container ">
  <div class="row m-3 pt-3">
    <div class="col-md-7">
        <div class="add-btn">
            <button type="button" data-toggle="modal" data-target="#PitchModal" class="btn btn-outline-primary m-1 ml-auto" >
            Add Pitches</button>
            {% block addPitchmodal %}
                {% include 'addPitchModal.html' %}
            {% endblock %}
        </div>
        <div class="alert-fixed">
            {% for message in get_flashed_messages() %}
                <div class="barge alert-success flash">{{ message }}</div>
            {% endfor %}
        </div> 

        <div id="general-pitches">
            <h5 class="font-weight-bold">All Pitches</h5>
            {% for pitch in pitches %}
                <div class="card mb-4" >
                    <div class="card-body">
                                {% include 'pitches.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="pickup-lines">
            <h5 class="font-weight-bold">Pickup Lines</h5>
            {% for pitch in pickup_pitches %}
                <div class="card mb-4" >
                    <div class="card-body">
                                {% include 'pitches.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div id="interview-lines">
            <h5 class="font-weight-bold">Interview Pitch</h5>
            {% for pitch in interview_pitches %}
                <div class="card mb-4" >
                    <div class="card-body">
                        {% include 'pitches.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="product-pitches">
            <h5 class="font-weight-bold">Product Pitches</h5>
            {% for pitch in product_pitches %}
                <div class="card mb-4" >
                    <div class="card-body">
                        {% include 'pitches.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div id="promotion-pitches">
            <h5 class="font-weight-bold">Promotion Pitches</h5>
            {% for pitch in promotion_pitches %}
                <div class="card mb-4" >
                    <div class="card-body">
                        {% include 'pitches.html' %}
                    </div>
                </div>
            {% endfor %}
        </div>
        
        
    </div>
    <div class="col-md-5 mt-3">
        <h5 class="font-weight-bold">Pitch Categories</h5>
        <ul class="list-group">
            <li class="list-group-item all-categories-btn">All Categories</li>
            <li class="list-group-item pickup-btn">Pickup Lines</li>
            <li class="list-group-item interview-btn">Interview pitch</li>
            <li class="list-group-item product-btn">Product pitch</li>
            <li class="list-group-item promotion-btn">Promotion pitch</li>
            <li class="list-group-item" data-toggle="modal" data-target="#PitchModal"><i class="fa fa-plus" aria-hidden="true"></i> Add my Pitch</li>
          </ul>
    </div>
    
  </div>
  
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


{% endblock%}