{% extends 'base.html'%}

<!-- Content block -->
{% block content %}


<div class="row flex-nowrap">  
{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

<div class="col py-3 mx-5 mt-5">

    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category=="success" %}
            <div class="alert alert-success ">
            {{ message }}
            </div>
        {% else %}
        <div class="alert alert-danger }}">
            {{ message }}
            </div>
        {%endif%}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <h3 class="font-weight-bold">NOTES</h3>
    {% for note in notes %}
        <div class="row p-2 mt-3 mb-2 rounded notes">
            <div class="col-sm-2 icon">
                <i class="fa fa-clipboard fa-2x " aria-hidden="true"></i>
            </div>
            <div class="col-sm-10">
                <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>

                <a href="/notes/{{note.id}}"><h5 class="font-weight-bold">{{note.title}}</h5></a>
                <p class="lead">{{note.notes}}</p>
            <p></p>
            </div>
            
        </div>   
    {%endfor%} 
</div>

</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}


{% endblock%}