<section class="landing-page container">
    <div class="row row1">
        <div class="col-md-6 col1">
            <img src="{{url_for('static', filename='images/landing.png')}}" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-md-6 col2">
            <div>
                <p class="main-pitch"><i class="fa fa-quote-left " aria-hidden="true"></i>
                    There is something wrong with my cell phone. It doesn't have your number in it. 
                   <i class="fa fa-quote-right fa-" aria-hidden="true"></i>
                </p>
                <button type="button" data-toggle="modal" data-target="#PitchModal" class="btn btn-primary m-1 ml-auto" >
                  <i class="fa fa-plus" aria-hidden="true"></i> Post your own Pitch
                </button>
                <a type="button" class="btn btn-primary" href="#pitches"><i class="fa fa-eye" aria-hidden="true"></i> View Pitches</a>

            </div>
            


        </div>
    </div>
  </section>