{% extends 'base.html'%}

{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-md-8">

            <img src="{{movie.poster}}" alt="{{movie.title}}" class="img-responsive">
        </div>

        <div class="col-md-4">

            <form method="POST" action="/movie/review/new/{{movie.id}}">
                {{ review_form.csrf_token }}
                {{ review_form.title.label }} {{ review_form.title(size=20) }}
                {{ review_form.review.label }} {{ review_form.review() }}
                <input type="submit" value="Go">
            </form>
            {{simplemde.load}}
        </div>
    </div>
    </div>

{% endblock %}