{% extends 'base.html'%}
{% block content %}
<div class="row flex-nowrap">
  {% block sidebar %}
      {% include 'sidebar.html' %}
  {% endblock %}
<div class="col py-3 mx-5 mt-2">
<div class="row mx-5">
  <div class="col-md-9 pt-1 profile-col pt-3">
    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category=="success" %}
            <div class="alert alert-success ">
            {{ message }}
            </div>
        {% else %}
        <div class="alert alert-danger }}">
            {{ message }}
            </div>
        {%endif%}
        {% endfor %}
    {% endif %}
    {% endwith %}
        <div class="row p-2 mt-3 mb-2 rounded notes">
            <div class="col-sm-2 icon">
                <i class="fa fa-clipboard fa-2x " aria-hidden="true"></i>
            </div>
            <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-6">
                        <small class="text-muted">{{ note.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-6">
                                <form action="/notes/update/{{note.id}}" method="POST">
                                    <button type=submit class="badge btn-outline-success sm pl-2">Update</button>
                                </form>
                            </div>
                            <div class="col-sm-6">
                                <form action="/notes/delete/{{note.id}}" method="POST">
                                    <button type=submit class="badge btn-outline-danger sm pl-2">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="/notes/{{note.id}}"><h5 class="font-weight-bold">{{note.title}}</h5></a>
                <p class="lead">{{note.notes}}</p>
            <p></p>
            </div>
        </div>
  </div>
</div>
</div>
</div>
  <!-- {% block footer %}
      {% include 'footer.html' %}
  {% endblock %} -->
{% endblock %}