<div class="row">
    <div class="col-md-10"> 
                                 
        <div class="row">
            <span class="badge badge-success  ml-auto">{{ pitch.category}}</span>
        </div>
        <h5 class="card-text mt-4 font-weight-1000" style="position: relative;"> 
            <i class="fa fa-quote-left"  aria-hidden="true"></i>
              <span class="pitch">{{ pitch.pitch }}</span>
              <i class="fa fa-quote-right fa-" aria-hidden="true"></i>
        </h5>
        
        <div class="row mt-2">
            <div class="col-md-6 text-secondary"><button class="btn">{{ pitch.date_posted.strftime('%Y-%m-%d') }}</button></div>
            <div class="col-md-6 text-secondary"><button class="btn"><i></i>{{ pitch.user.username }}</button></div>    
        </div>
        <hr>
        <p class="commentBtn">Comments <i class="fa fa-caret-down" aria-hidden="true"></i></p>
        <div id="comments" class="row ">
                         
            <form  method="POST" action="/comment/{{ pitch.id }}">
                <p>
                    <textarea class="textarea" name="comment" role="textbox" placeholder="Enter your comment" contenteditable></textarea>
                </p> 
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div> 
            </form>
            <h6 class="m-2 font-weight-bold">Comments</h6>
             {% for comment in comments %}
                {% if comment.pitch_id==pitch.id %}
                
                  <div class="row display-comments mx-3 mb-2 mt-2 p-3">
                    <div class="col-md-2">
                        <img width="40" height="40" src="{{url_for('static',filename='profile_photos/default.png')}}" alt="" class="rounded">
                     </div> 
                     <div class="col-md-10">
                         <h6 class="font-weight-bold">{{ comment.user.username }}</h6>
                         <p>{{ comment.comment }}</p> 
                     </div>
                              
                </div>  
                  
                {% endif %}
             {% endfor %}                               
         </div>      
    </div>    

    <div class="col-md-2 text-center">
        <div class="votes ">
            <form action="/upvote/{{pitch.id}}" method="POST">
               <button class="btn" type="submit"><i class="fa fa-caret-up fa-3x padding-top-0 text-success" aria-hidden="true"></i> </button> 
            </form>
            <h6 >{{pitch.upvotes}}</h6>  
        </div>  
        <div class="votes">
            <h6 class="m-0 p-0 ">{{pitch.downvotes}}</h6>
            <form action="/downvote/{{pitch.id}}" method="POST">
                <button class="btn" type="submit"><i class="fa fa-caret-down fa-3x " aria-hidden="true"></i></button>
            </form>
        </div>
            
    </div>
</div>