<div class="sidebar col-auto col-md-3 col-xl-2 px-sm-2 px-0">
    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            
        </a>
        <div class="text-center mx-auto ">
          {% if current_user.image_file %}
            <img class="rounded-circle mt-2"  width="50" height="50" src="{{url_for('static',filename="/images/"+current_user.image_file)}}" alt="" class="rounded">
          {%else%}
            <img class="rounded-circle mt-2" width="50" height="50" src="{{ url_for('static', filename='images/default.jpg') }}">
          {% endif %}
            <h6 class="m-2">{{current_user.username}}</h6>
        </div>
        <hr class="text-white">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
            <li class="nav-item">
                <a href="/" class="nav-link align-middle px-0">
                    <i class="fa fa-tachometer ml-4 mr-2" aria-hidden="true"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/notes/new"  class="nav-link px-0 align-middle">
                    <i class="fa fa-pencil ml-4 mr-2" aria-hidden="true"></i>
                    <span class="ms-1 d-none d-sm-inline">Create Notes</span> </a>
            </li>
            <li>
                <a href="/profile" class="nav-link px-0 align-middle">
                    <i class="fa fa-user ml-4 mr-2" aria-hidden="true"></i> <span class="ms-1 d-none d-sm-inline">Profile</span></a>
            </li>
          
        </ul>
    
        <div class="sidebarIcons">
            <a href="/profile" class="nav-link px-0 align-middle">
                <span class="ms-1 d-none d-sm-inline">
                    <div class="sidebar-icons">
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-twitter"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-github"></i>
                    </div>
                </span></a>
            </div>
     
      
        <hr>
       
    </div>
</div>



